.chatContainer
{
    display: flex;
    height: 100%;
    width:100%;
    flex-direction: column;
}

.buffer
{
    flex-grow: 1;
}

.chatHistory
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 64px;
}

.chatBox
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.chatBubble
{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}

.botResponse
{
    justify-content: flex-start;
}

.userPrompt
{
    justify-content: flex-end;
    text-align: right;
}